.rbc-month-view {
  border:1px solid #242424;
}

.rbc-month-header {
  border: 1px solid #242424;
  color: #969696
  
}

.rbc-month-header .rbc-header + .rbc-header {
  border: 1px solid #242424;
}

.rbc-header {
  border: none;
  font-size: 7.58px;
  line-height: 100%;
  font-weight: 500;
  padding: 5.68px;
  text-align: left;
}

.rbc-event,
.rbc-day-slot .rbc-background-event {
  background: transparent;
  padding: 0 10px;
}

.rbc-event {
  scrollbar-width: none;
  height: fit-content;
}

.rbc-date-cell {
  padding: 5.68px;
  text-align: left;
}


.rbc-row-segment {
  max-height: fit-content;
}

.rbc-month-row + .rbc-month-row {
  border: 1px solid #242424;
}

.rbc-button-link {
  line-height: 1.375rem;
  font-weight: 400;
  color: #969696;
  font-size: 9.94px;
}

.rbc-date-cell.rbc-now .rbc-button-link {
  color: #969696;
}

.rbc-time-content > * + *,
.rbc-time-header-content > * + *,
.rbc-day-bg + .rbc-day-bg {
  border: 1px solid #242424;
}

.rbc-off-range {
  color: 969696;
}


.rbc-off-range-bg {
  background-color: transparent !important;
}

.rbc-month-view .rbc-today {
  background: transparent;
}

.rbc-month-view .rbc-date-cell.rbc-current .rbc-button-link,
.rbc-month-view .rbc-date-cell .rbc-current .rbc-button-link {
  background-color: #2563eb; /* blue */
  color: white !important;
  border-radius: 9999px;
  width: 28px !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
